/* General Rules */

html {
  font-size: 16px;
  font-family: "Ubuntu", "Helvetica", sans-serif;
}

.flex-container {
  display: flex;
}


/* Header Rules */

header {
  border-bottom: 1px solid #7F0200;
  box-shadow: 0px 2px 10px #7F0200;
  background-color: #7F0200;
  color: white;
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  overflow: hidden;
}

.title {
  position:inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 65px;
  border: 0;
  font-size: 1.5rem;
}

.academy {
  color: gold;
}

header img {
  padding-left: 24px;
}


header ul li {
  display: inline-block;
  padding-right: 24px;
}

/* Banner Rules */

main {
  margin-top: 6rem;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

main img {
  width: 60%;
  margin-right: 24px;
}

.learn-text-box {
  max-width: 40%;
  display: flex;
  flex-direction: column;
}

.learn-something {
  color: gold;
}

.school-day {
  font-weight: lighter;
}

.start-here {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 40%;
  background-color: #7F0200;
  text-align: center;
  color: white;
}

/* Info Rules */



/* Start Learning Rules */



/* Thesis Exhibit Rules */



/* Footer Rules */
